body {
    display: flex;
    height: 100vh;
    margin: 0;
    width: 100%;
}

.image-container {
    background-image: url(../lake.jpeg);
    background-size: cover;
    width: 40%;
}

.image-container p {
    color: white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 30px;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 120px;
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main-top {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 50px;
    background-color: #f7f7f8;
}

.main-center {
    flex: 1;
}

fieldset {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: none;
}

.row {
    display: flex;
    justify-content: space-between;
}

.label-input-pair {
    display: flex;
    flex-direction: column;
}

.main-bottom {
    flex: 1;
    background-color: #f7f7f8;
}







